In [2]:
import pickle
import warnings
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [ ]:
base = "https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/"
season = "2023-24"

In [4]:
gameweek = 1
url = base + season + "/gws/gw" + str(gameweek) + ".csv"
df1 = pd.read_csv(url)
df1.head()

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,Femi Seriki,DEF,Sheffield Utd,0.5,0,0,0,0,0.0,653,...,1,0,0.0,0,0,0,0,40,True,0
1,Jack Hinshelwood,MID,Brighton,1.5,0,0,0,0,0.0,621,...,1,4,0.0,0,0,0,0,45,True,0
2,Jadon Sancho,MID,Man Utd,3.0,0,0,4,0,11.3,397,...,0,1,8.0,1,0,0,0,70,True,0
3,Rhys Norrington-Davies,DEF,Sheffield Utd,0.1,0,0,0,0,0.0,487,...,1,0,0.0,0,0,0,0,40,True,0
4,Vitaly Janelt,MID,Brentford,2.1,0,0,6,0,11.5,105,...,2,2,17.0,2,0,0,0,55,True,0

In [5]:
gameweek = 2
url = base + season + "/gws/gw" + str(gameweek) + ".csv"
df2 = pd.read_csv(url)
df2.head()

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,Femi Seriki,DEF,Sheffield Utd,-0.5,0,0,0,0,0.0,653,...,1,2,0.0,0,708,833,125,40,False,0
1,Radek VÃ­tek,GK,Man Utd,1.5,0,0,0,0,0.0,669,...,0,2,0.0,0,0,0,0,40,False,0
2,Jack Hinshelwood,MID,Brighton,0.0,0,0,0,0,0.0,621,...,4,1,0.0,0,-44,127,171,45,False,0
3,Jadon Sancho,MID,Man Utd,1.5,0,0,7,0,1.9,397,...,0,2,0.0,1,-10687,2309,12996,70,False,0
4,Rhys Norrington-Davies,DEF,Sheffield Utd,0.0,0,0,0,0,0.0,487,...,1,2,0.0,0,-795,168,963,40,False,0